@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1186px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  background: #000;
  height: 40px;
  display: flex;
  align-items: center;
}

.top .language a {
  color: var(--white, #fff);
  text-align: center;
  font-size: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.top .language a:last-child {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: 10px;
  font-family: "Montserra";
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.end {
  background: var(--gray-6, #fafafa);
  box-shadow: 0px 14px 64px -4px rgba(24, 39, 75, 0.12), 0px 8px 22px -6px rgba(24, 39, 75, 0.12);
}

.end .navbar a {
  text-align: center;
  color: var(--black, #0d0d0d);
  font-size: 23px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.end .navbar ul {
  gap: 24px;
  margin-left: 98px;
}

@media (max-width: 600px) {
  .end .navbar ul {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.end .navbar ul a {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.1px;
}

.end .navbar .header__btns {
  margin-right: 39px;
}

@media (max-width: 800px) {
  .end .navbar .header__btns {
    margin-right: 0;
  }
}

.end .navbar .header__btns a {
  transition: 0.5s ease-in-out;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  color: var(--black, #0d0d0d);
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}

.end .navbar .header__btns a:hover {
  background: var(--yellow, #ffc000);
}

@media (max-width: 800px) {
  .end .navbar .header__btns a {
    margin-bottom: 30px;
  }
}

.end .navbar img {
  cursor: pointer;
}

.header__logo {
  gap: 16px;
}

@media (min-width: 992px) {
  .header__logo {
    display: none;
  }
}

.footer {
  padding-top: 46px;
}

.footer .container .footer_left h5 {
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.footer .container .footer_left p {
  margin-bottom: 15px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 160%;
  letter-spacing: 0.25px;
}

.footer .container .footer_left img {
  max-width: 96px;
  height: 96px;
}

.footer .container .footer_contact h5 {
  margin-bottom: 16px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.footer .container .footer_contact a {
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 160%;
  letter-spacing: 0.25px;
}

.footer .container .footer_contact h4 {
  margin-top: 38px;
  margin-bottom: 16px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.footer .container .footer_menu h5 {
  margin-bottom: 16px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.footer .container .footer_menu a {
  margin-bottom: 10px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 160%;
  letter-spacing: 0.25px;
}

.footer .container .footer_right h5 {
  margin-bottom: 16px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.footer .container .footer_right a {
  margin-bottom: 10px;
  color: var(--black, #000);
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 160%;
  letter-spacing: 0.25px;
}

/* About-hero */


body {
  background-color: #FAFAFA;
}

.about-hero {
  background-color: #FAFAFA;

}

.about-hero__title {
  margin-top: 64px;
}

.about-hero__wrapper__text {
  margin-top: 29px;
  display: flex;
  width: 557px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.25px;
}

/* .about-hero__wrapper{
} */

.about-hero__wrapper__title {
  display: flex;
  width: 557px;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.about-hero__wrapper__left {
  margin-top: 25px;
  display: flex;
  justify-content: end;
}

.about-hero__wrapper__right {
  margin-top: 87px;
}

@media(max-width:1090px) {
  .about-hero__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-hero__wrapper__left {
    width: 460px;
  }

  .about-hero__wrapper__right {
    width: 460px;
  }

  .about-hero__wrapper__title {
    width: 100%;
  }

  .about-hero__wrapper__text {
    width: 100%;
  }
}

@media(max-width:550px) {
  .about-hero {
    overflow-x: hidden;
  }

  .about-hero__title {
    text-align: start !important;
  }

  #about-hero__main__img {
    width: 100% !important;
  }

  .about-hero__wrapper__right {
    margin-left: 10px;
  }
}

/* about advantages */

.about-advantages {
  margin-top: 63px;
  margin-bottom: 239px;
}

.about-advantages__title {
  margin-bottom: 24px;
  color: #000;
  text-align: center;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}

.about-advantages__wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.about-advantages__card {
  padding-top: 40px;
  padding-left: 78px;
  padding-right: 78px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__card__text {
  margin-top: 45px;
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
}

@media (max-width:860px) {
  .about-advantages__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-advantages__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width:560px) {
  .about-advantages__wrapper {
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    overflow-x: scroll;
  }

  .about-advantages__title {
    font-size: 25px;
  }

  .about-advantages__card {
    width: 350px;
    height: 160px;
    background-color: #fff;

  }


}

/* about-app */

.about-app {
  background-color: #0D0A27;
}

.about-advantages__wrapper__right__title {
  margin-top: 40px;
  margin-bottom: 24px;
  display: flex;
  width: 753px;
  height: 96px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--white, #FFF);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.25px;
}

.about-advantages__wrapper__right__text {
  display: flex;
  width: 738px;
  height: 88px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.44px;
  opacity: 0.8;
}

.about-advantages__wrapper__right__box {
  margin-bottom: 56px;
  display: flex;
  gap: 31px;
}

.about-advantages__wrapper__left {
  position: relative;
}

#about-app-app-img {
  position: absolute;
  top: -175px;
}

@media (max-width:1300px) {
  .about-advantages__wrapper__right__title {
    width: 100%;
  }

  .about-advantages__wrapper__right__text {
    width: 100%;
  }
}

@media (max-width:980px) {
  .about-app__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }

  .about-advantages__wrapper__right__text {
    margin-top: 45px;
    margin-bottom: 40px;
  }
}

@media (max-width:740px) {
  .about-advantages__wrapper__right__text {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width:660px) {
  .about-advantages__wrapper__right__title {
    font-size: 25px;
  }

  .about-advantages__wrapper__right__text {
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 14px;
  }

  #about-app-app-img {
    width: 100%;
  }
}

@media (max-width:525px) {
  .about-advantages__wrapper__right__box {
    display: flex;
    flex-direction: column;
  }

  .about-app__wrapper {
    gap: 70px;
  }

  .about-advantages__wrapper__right__text {
    margin-top: 160px;
    margin-bottom: 160%;
  }

  #about-app-app-img {
    top: -100px;
  }
}

@media (max-width:325px) {
  .about-advantages__wrapper__right__text {
    height: 250px;
  }
}

/* about-work */

.about-work {
  background-color: #fafafa;
  margin-top: 150px;
  padding-bottom: 62px;
}

.about-work__frame iframe {
  height: 624px;
}

.about-work__wrapper {
  display: flex;

}

.about-work__right {
  margin-left: 100px;
}

.about-work__box {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-work__card__list {
  padding: 0;
}

.about-work__card {
  width: 166px;
}

.about-work__title {
  color: #000;
  font-family: Inter;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 64px;
}

.about-work__card__link__title {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.about-work__card__link {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width:1100px) {
  .about-work__wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:655px) {
  .about-work__frame iframe {
    width: 100%;
    height: 331px;
  }

  .about-work__right {
    margin-left: 20px;
  }
}

@media (max-width:430px) {

  .about-work__box {
    margin-top: 10px;
  }

  .about-work__title {
    font-size: 23px;
  }

  .about-work__card__link__title {
    margin-top: 10px;
    font-size: 14px;
  }

  .about-work__card__link {
    font-size: 12px;
  }

  .about-work__card {
    width: 100%;
  }
}

.footer{
  background-color: #fff;
}