.content-port {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.content-port img {
  width: 263px;
  height: 263px;
  margin-bottom: 30px;
}

.content-port a {
  padding: 10px 100px;
  background: #e8e10a;
  color: #000;
  border-radius: 8px;
  transition: 0.5s;

}

.link-lablet {
  display: flex;
  flex: auto;
  justify-content: space-between;
  margin-left: 40px;

}

label {
  font-style: italic;
  font-size: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

input {
  width: 264px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: 0;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
}


@media (max-width: 900px) {
  .link-lablet {
    display: grid;
  }

  .link-lablet {
    margin-left: 2px;

  }
    .content-port {
      justify-content: center;
    }
}


@media (max-width: 600px) {
  .content-port {
    display: grid;
  }
}