.footer {
  padding-top: 46px;
  .container {
    .footer_left {
      h5 {
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 15px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 160%;
        letter-spacing: 0.25px;
      }
      img {
        max-width: 96px;
        height: 96px;
      }
    }
    .footer_contact {
      h5 {
        margin-bottom: 16px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
      a {
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 160%;
        letter-spacing: 0.25px;
      }
      h4 {
        margin-top: 38px;
        margin-bottom: 16px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
    }
    .footer_menu {
      h5 {
        margin-bottom: 16px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
      a {
        margin-bottom: 10px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 160%;
        letter-spacing: 0.25px;
      }
    }
    .footer_right {
      h5 {
        margin-bottom: 16px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }
      a {
        margin-bottom: 10px;
        color: var(--black, #000);
        font-size: 14px;
        font-family: "Montserrat";
        line-height: 160%;
        letter-spacing: 0.25px;
      }
    }
  }
}
