@use "../global";
@use "../utils/mixins" as mxn;

.home {
  @media (min-width: 992px) {
    background: rgb(255, 192, 0);
    background: linear-gradient(
      180deg,
      rgba(255, 192, 0, 1) 25%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 75%,
      rgba(255, 192, 0, 1) 75%
    );
  }
  .container {
    .owl-carousel {
      .row {
        .home__aside {
          padding-top: 263px;
          h3 {
            color: var(--white, #fff);
            font-size: 34px;
            font-family: "Montserrat";
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 0.25px;
          }
          p {
            color: var(--white, #fff);
            font-size: 14px;
            font-family: "Montserrat";
            font-weight: 500;
            line-height: 140%;
            letter-spacing: 0.1px;
          }
          a {
            color: var(--yellow, #ffc000);
            text-align: center;
            font-size: 14px;
            font-family: "Montserrat";
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            &::before {
              content: "▶";
              padding-right: 5px;
            }
          }
        }
        .home__bside {
          img {
            width: 100%;
            transition: 0.5s ease-in-out;
          }
        }
      }
    }
  }
  .owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          width: 20px;
          height: 20px;
          border: 1px solid #000;
          display: block;
          transition: opacity 0.2s ease;
          border-radius: 30px;
        }
      }
    }
  }
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: relative;
  bottom: 40px;
  margin-right: 250px;
}

.home__res {
  img {
    width: 100%;
  }
  h3 {
    margin-top: 16px;
    margin-bottom: 8px;
    color: var(--black, #0d0d0d);
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 140%;
  }
  p {
    color: var(--black, #0d0d0d);
    font-size: 14px;
    font-family: "Montserat";
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.1px;
  }
  a {
    color: var(--black, #0d0d0d);
    text-align: center;

    /* BUTTON */
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    &::before {
      content: "▶";
      padding-right: 5px;
    }
  }
}

.kategory {
  background: #f2f3f7;
  padding-top: 67px;
  padding-bottom: 80px;
  .container {
    h3 {
      color: #000;
      text-align: center;
      font-size: 34px;
      font-family: "Montserrat";
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 0.25px;
    }
    .our-advantages {
      margin-top: 24px;
      .our-advantages_card {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        background: var(--tecxt-white, #fff);
        text-align: center;
        padding: 26px 64px;
        cursor: pointer;
        transition: 1s;
        &:hover {
          transform: scale(1.2);
          box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2);
          transition: 0.5s;
        }
        h5 {
          margin-top: 45px;
          color: var(--black, #000);
          font-size: 16px;
          font-family: "Montserrat";
          line-height: 140%;
          letter-spacing: 0.44px;
        }
        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          right: -5px;
          top: -5px;
          border-radius: 10px;
          background: rgb(255, 192, 0);
          transition: 2s;

          z-index: -1;
        }
        &:hover::after {
          width: 1000px;
          height: 1000px;

          z-index: -1;
        }
      }
    }
  }
}
.moneken {
  background: #f2f3f7;
  padding-bottom: 64px;
  .moneken__card {
    h5 {
      margin-bottom: 32px;
      color: #000;
      text-align: center;
      font-family: "Montserrat";
      font-size: 34px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: 0.25px;
    }
    .moneken__box {
      img {
        width: 100%;
      }
      .moneken__intro {
        padding: 13px;
        text-align: center;
        background: #fff;
        border-radius: 0  0 12px 12px;
        box-shadow: 0px 0px 98px 0px rgba(0, 0, 0, 0.05);
        h3 {
          text-align: left;
          color: var(--black, #000);
          font-family: "Montserrat";
          font-size: 14px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
        }
        p {
          text-align: left;
          color: var(--black, #000);
          font-family: "Montserrat";
          font-size: 12px;
          font-weight: 500;
          line-height: 140%;
          letter-spacing: 0.4px;
        }
        .moneken__derc {
          padding-left: 13px;

          margin-bottom: 16px;
          img {
            width: 98px;
          }
          h5 {
            color: var(--black, #000);
            font-family: "Montserrat";
            font-size: 10px;

            font-weight: 700;
            line-height: 140%;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }
        }
        a {
          padding: 10px 24px;
          border-radius: 6px;
          background: var(--gold, #ffc000);
          color: var(--black, #000);
          text-align: center;
          font-family: "Montserrat";
          font-size: 14px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
        }
      }
    }
  }
}
